name: Build NW.js 0.79.1 (Win + macOS)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install nw-gyp
        run: npm install -g nw-gyp

      - name: Install dependencies
        run: npm install --ignore-scripts

      - name: Rebuild using Node 18 ABI
        run: |
          nw-gyp rebuild --target=18.17.1 --arch=x64

      - uses: actions/upload-artifact@v4
        with:
          name: nwjs-0.79.1-${{ runner.os }}-x64
          path: build/Release/*.node